<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <title>Ligtas</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body id="body-bg">
    <nav>
      <div class="logo">
        <div>
          <img src="img/logo.png" alt="logo" />
        </div>
        <p class="name">LIGTAS</p>
        <p class="type">Weather Monitoring System</p>
      </div>
      <div class="nav-items">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="weather">Weather</a></li>
          <li><a href="advisory">Advisories</a></li>
          <li><a href="aboutUs">About Us</a></li>
          <li><a href="contact">Contact</a></li>
          <li class="dropdown">
            <a href="login" class="dropbtn">Account</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="home">
      <div class="time" id="time">
        <p>Philippine Standard Time</p>
        <p id="todaysTime"></p>
        <p id="date"></p>
      </div>
      <div class="home-text">
        <h1>With LIGTAS,</h1>
        <h1 class="pl-50">Know Disaster,</h1>
        <h1 class="pl-50">No Disaster,</h1>
      </div>
    </div>

    <div class="container-home white-bg">
      <h1 class="section-title">What is ligtas?</h1>
      <div class="row">
        <img src="img/Ligtas Logo 2.png" class="logo-2" alt="logo2" />
        <p class="description">
          LIGTAS is a weather monitoring station built to withstand and measure
          all kinds of threats, and records crucial information about the harsh
          environmental conditions and turns it into the most useful data around
          vours.
        </p>
      </div>
    </div>

    <script src="js/index.js"></script>
  </body>
</html>
